{% extends "chat/base.html" %}

{% block title %}
{{local_message.To}} 
{% endblock title %}


{% block contend %}
<div class="w-full h-screen overflow-y-auto">
    <header class="py-2">
        <ul class="flex justify-between items-center">
            <li class="mx-2">
                <a href="/chat/messages/">
                    <
                </a>
            </li>

            <li class="mx-2">
                <p>
                    <h2>
                        {{local_message.owner}}
                    </h2>
                </p>
            </li>
        </ul>
    </header>
<section class="flex h-screen items-end">
    <h2 class="text-xl mx-8 mb-24 bg-indigo-400 py-2 px-2 rounded-xl">
        <i>{{local_message.text}}</i>
        <i class="block text-sm"> {{local_message.send_date|truncatechars:11}} </i>
    </h2>
</section>
</div>
{% endblock contend %}